ol {
  background-color: yellow
}

ol li:nth-of-type(2n) {
  color: green
}

ol li:nth-of-type(2n +1) {
  text-transform: uppercase;
}

h1, h2, h3 {
  color: red;
}

h1 em, h2 em, h3 em {
  font-size: 40px;
  border: black solid 1px;
}

li {
  font-size: 20px;
}

li em {
  font-weight: bolder;
}

li:not(:nth-child(n+4)) {
  color: blue;
}

.rosinha {
  background-color: pink;
}

.hoverzin li:hover{
  font-weight: bolder;
  color: purple;
}
