h1, p{
  text-align: center;
}

li:hover {
  background-color: aqua;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ol, ul {
  list-style: none;
}

.lista {
  text-align: center;
}