#textoum {
  color: orange;
  text-decoration: underline;
}
#listanao {
  background-color: salmon;
  line-height: 40px;
}
.mudandotudo {
  color: blanchedalmond;
}
h1 {
  font-family: sans-serif;
}
p {
  font-weight: 600;
  font-size: 3em;
  font-style: oblique;
}
body {
  font-size: 16px;
}
#amarelo {
  color: yellow;
}
#marrom {
  color: brown;
}
#vermelho {
  color: red;
}